html {
    scroll-behavior: smooth;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #d4d4d4;
    background-color: #1e1e1e;
}

.color.blue{
    color:rgb(0, 68, 255);
}


.color.yellow{
    color:rgb(251, 255, 0);
}

.color.red{
    color:rgb(197, 67, 67);
}

.color.green{
    color:rgb(0, 255, 128);
}

.color.litegreen{
    color:rgb(6, 233, 25);
}

.color.white{
    color:rgb(255,255,255);
}

.color.block{
    color:rgb(0,0,0);
}

.color.aqua {
    color: #00d9ff;
}

.color.rid {
    color: #ff0000;
}

.contents{
    width:80%;
    min-width: 80vw;
    margin-left: auto;
    margin-right: auto;
}


.btn-flat-border {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #ffffff;
    border: solid 2px #ffffff;
    border-radius: 3px;
    transition: .4s;
  }
  
  .btn-flat-border:hover {
    background: #ffffff;
    color: rgb(255, 255, 255);
  }